@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff2") format("woff2"),
    url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;

  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
